<!-- <p>
  <strong>Name:</strong>
  <%#= @patient.name %>
</p>

<p>
  <strong>Disease:</strong>
  <%#= @patient.disease %>
</p>

<p>
  <strong>Personal contact no:</strong>
  <%#= @patient.personal_contact_no %>
</p>

<p>
  <strong>Emergency contact no:</strong>
  <%#= @patient.emergency_contact_no %>
</p>

<p>
  <strong>Address:</strong>
  <%#= @patient.address %>
</p> -->

<%#= link_to 'Edit', edit_patient_path(@patient) %>
<h1>ECG Graphs</h1>
<br>
<%= link_to "<i class='fa fa-reply'></i> Back".html_safe, patients_path, :class => "btn btn-sm btn-info",:style => "color:white" %>
